.card {
    text-align: center;
    padding: 2rem;
    background-color: $secondary-color;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    &__image {
      max-width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }
  
    &__text {
      color: $text-color;
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }
  
    &__button {
      padding: 0.5rem 1rem;
      background-color: $primary-color;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;
  
      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
  