.clickButton {
  background: var(--button-bg);
  border: none;
  padding: 20px 50px;
  font-size: 26px;
  color: var(--button-text);
  border-radius: 20px;
  box-shadow: 0 0 20px #00ffe7;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #8e2de2;
  }

  &:active {
    transform: scale(0.95);
  }
}
